<%# navigation styled for Bootstrap 4.0 %>
<div class="container">
  <nav class="navbar navbar-dark bg-inverse">
    <div class="nav main-nav">
      <ul class="nav">
        <%= render 'layouts/navigation_links' %>
      </ul>
    </div>
  </nav>
</div>
